/* 
    Created on : 17/11/2021, 15:05:15
    Author     : Pedro
*/

@charset "ISO-8859-1";

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

main{
    min-height: 600px;
    clear: both;
}

fieldset#fieldsetLogin{
    max-width: 300px;
    padding: 10px 35px;
    box-shadow: 3px 3px 7px #999999;
    margin: 10% auto auto auto;
}

table{
    margin-bottom: 20px;
}

h2{
    margin: 0px;
    text-align: center;
}

h2 img{
    width: 70%;
}

label{
    float: right;
}

label{
    font-size: 18px;
}

input[type=text], input[type=password]{
    width: 200px;
    float: right;
    font-size: 16px;
    box-shadow: 3px 3px 7px #999999;
}

input[type=button]{
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px;
    padding: 5px;
    background-color: #C0D904;
    box-shadow: 3px 3px 7px #999999;
}