/* 
    Created on : 17/11/2021, 15:05:15
    Author     : Pedro
*/

@charset "ISO-8859-1";

/*Estilos das janelas em geral*/

body, html{
    
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-width: 900px;
}

main{
    clear: both;
    background-color: white;
    margin: auto;
    margin-top: 10%;
    max-width: 900px;
}

fieldset.lembrete{
    float: left;
    width: 150px;
    height: 150px;
    margin: 20px;
    box-shadow: 3px 3px 7px #C0D904;
}

fieldset.usuario{
    max-width: 300px;
    padding: 20px 35px;
    box-shadow: 3px 3px 7px #C0D904;
    margin: auto;
    background-color: white;
    border-radius: 8px;
}

fieldset#novoUsuario{
    max-width: 300px;
    padding: 35px 35px;
    box-shadow: 3px 3px 7px #C0D904;
    margin: auto;
    background-color: white;
    border-radius: 8px;
}
.mainLembrete{
    height: 100%;
    margin: 0 0 50px 0;
}

#campoLembretes{
    display: block;
}

.boasVindas {
    margin: 10px 0 0 0;
    text-align: center;
    min-height: 25px;
}

.boasVindas p{
    margin: 0;
    font-size: 17px;
}

#nomeLembrete{
    text-align: center;
    margin: 0;
}

#deslogar{
    margin: auto;
    float: right;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 16px;
}

table{
    margin-bottom: 20px;
}

h2{
    margin: 0px;
    text-align: center;
}

img{
    width: 70%;
}

label{
    float: right;
}

label{
    font-size: 18px;
}

input[type=text], input[type=password]{
    width: 200px;
    float: right;
    font-size: 16px;
    box-shadow: 3px 3px 7px #999999;
    border-radius: 2px;
}

input[type=button], input[type=submit]{
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px;
    padding: 7px;
    background-color: #C0D904;
    box-shadow: 3px 3px 7px #999999;
    border-radius: 8px;
}

/*Estilos das mensagens de erro e sucesso*/

.sucessoDiv p{
    text-align: center;
    padding: 2px;
    border: groove #C0D904;
}

.erroDiv p{
    text-align: center;
    padding: 2px;
    border: groove #C0D904;
}

/*Estilo cabeçalho e rodapé*/

header{
    min-height: 100px;
    border-bottom: dotted #C0D904;
    text-align: center;
}

header img{
    max-width: 200px;

}

footer{
    display: block;
    position: fixed;
    flex-shrink: 0;
    font-size: 16px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: dotted #C0D904;
    height: 50px;
    max-width: 900px;
}

footer p{
    text-align: center;
}