/* 
    Created on : 17/11/2021, 15:05:15
    Author     : Pedro
*/

@charset "ISO-8859-1";

/*Estilos das janelas em geral*/

body, html{
    
    margin: auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

main{
    clear: both;
    background-color: white;
    margin: 8% auto auto auto;
}

#botaoNovoLembrete{
    margin: 0;
    width: 100%;
    border: none;
    box-shadow: 0 0 5px #D6FF40;
}

#botaoNovoLembrete:hover{
    background-color: #D6FF40;
}

.botoesLembrete{
    padding: 0;
    text-align: right;
    margin: 3px 3px 0px auto;
}

.botaoImg{
    width: 16px;
}

.botaoImg:hover{
    background-color: #D6FF40;
}

#deslogar{
    margin: auto;
    float: right;
    text-decoration: none;
    color: black;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
}

#deslogar:hover{
    background-color: #D6FF40;
}

fieldset.blocoLembrete{
    margin: 25px 230px 25px 230px;
    border: none;
}

fieldset.novoLembrete {
    width: 350px;
    height: 300px;
    margin: auto;
    border: none;
    background-color: #C0D904;
    box-shadow: 3px 3px 7px #999999;
}

fieldset.lembrete{
    text-align: center;
    padding: 10px;
    float: left;
    width: 173px;
    height: 173px;
    margin: 10px;
    border: none;
    background-color: #C0D904;
    box-shadow: 3px 3px 7px #999999;
}

fieldset.usuario{
    max-width: 300px;
    padding: 20px 35px;
    box-shadow: 3px 3px 7px #C0D904;
    margin: auto;
    border: solid #B6D936;
    background-color: white;
    border-radius: 8px;
}

fieldset#novoUsuario{
    max-width: 300px;
    padding: 35px 35px;
    box-shadow: 3px 3px 7px #C0D904;
    margin: auto;
    background-color: white;
    border-radius: 8px;
}
.mainLembrete{
    height: 100%;
    margin: 0 0 50px 0;
}

legend{
    font-weight: bold;
}

textarea{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    border: none;
    background-color: #C0D904;
    font-size: 35px;
    font-weight: bold;
}

#campoLembretes{
    display: block;
}

.boasVindas {
    text-align: center;
    min-height: 25px;
}

.boasVindas p{
    margin: 0;
    font-size: 17px;
}

#nomeLembrete{
    text-align: center;
    margin: 0;
    float: left;
}

table{
    margin-bottom: 20px;
}

h2{
    margin: 0px;
    text-align: center;
}

img{
    width: 70%;
}

label{
    float: right;
}

label{
    font-size: 18px;
}

input[type=text], input[type=password]{
    width: 200px;
    float: right;
    font-size: 16px;
    box-shadow: 3px 3px 7px #999999;
    border-radius: 2px;
}

input[type=button], input[type=submit]{
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px;
    padding: 7px;
    background-color: #C0D904;
    box-shadow: 3px 3px 7px #999999;
    border-radius: 8px;
    border: none;
}

input[type=button]:hover, input[type=submit]:hover{
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 5px;
    padding: 7px;
    background-color: #C0D904;
    box-shadow: 3px 3px 7px #999999;
    border-radius: 8px;
    background-color: #D6FF40;
    border: none;
}


/*Estilos das mensagens de erro e sucesso*/

.sucessoDiv p{
    text-align: center;
    padding: 2px;
    border: outset #C0D904;
    box-shadow: 0 0 10px #C0D904;
    max-width: 400px;
    margin: auto auto 50px; auto;
}

.erroDiv p{
    text-align: center;
    padding: 2px;
    border: outset #C0D904;
    box-shadow: 0 0 5px #C0D904;
    max-width: 400px;
    margin: auto auto 50px; auto;
}

/*Estilo cabeçalho e rodapé*/

header{
    min-height: 40px;
    border-bottom: solid #C0D904;
    box-shadow: 3px 3px 7px #C0D904;
    text-align: center;
}

header img{
    margin-top: 15px;
    max-width: 200px;

}

footer{
    display: block;
    font-size: 16px;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin: 50px auto auto auto;
    background-color: #C0D904;
    height: 50px;
}

footer p{
    text-align: center;
}